.main-topic-block {
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 10px;
    transition-duration: 0.5s;
    height: 100%;
}

.main-topic-block:hover {
    box-shadow: 1px 2px 5px rgba(42, 200, 181, 0.7);
    cursor: pointer;
    transition-duration: 0.5s;
}