* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: #F1F1F1;
}

header {
    background-color: #2AC8B5;
    padding: 20px 0;
}

footer {
    background-color: #2AC8B5;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
}

input:focus {
    outline: none;
    border-bottom: 2px solid white;
}