* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: #F1F1F1;
    min-height: 100vh;
}
main{
    min-height: 70vh;
}
header {
    background-color: #2AC8B5;
    padding: 20px 0;
}

footer {
    background-color: #2AC8B5;
    color: white;
    text-align: center;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

input:focus {
    outline: none;
    border-bottom: 2px solid white;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

button {
    background-color: #2AC8B5;
    color: white;
    border: 2px solid #2AC8B5;
    padding: 5px 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2AC8B5;
}

h4 {
    margin-bottom: 30px;
}